blinker==1.6.2
click==8.1.4
Flask==1.1.2
Flask-Cors==4.0.0
Flask-SocketIO==4.3.1
importlib-metadata==6.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-engineio==3.13.2
python-socketio==4.6.0
six==1.16.0
Werkzeug==1.0.1
zipp==3.15.0
